################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CharlieDogs/v15/sqlite3/db.lock
