<a routerLink="/detalhe-cao/{{cao?.idCachorro}}">
  <div class="place-info-box">
    <span><img [src]="cao?.imagem" class="info-box-icon" /></span>
    <div class="place-info-box-content">
      <span class="place-info-box-text">{{cao?.descricao}}</span>
      <span class="place-info-box-star"><i class="fa fa-info-circle"></i></span>
      <span class="place-info-box-detail"><b>Peso:</b>{{cao?.peso}}</span>
      <span class="place-info-box-detail"><b>Porte:</b> {{cao?.porte | enum:'EnumTipoPorte'}}</span>
      <span class="place-info-box-detail"><b>Preço:</b> {{'R$ ' + cao?.preco}}</span>
    </div>
  </div>
</a>
